<div ng-controller="AboutCtrl">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <div id="about-me" class="parallax-img">
                        <img id="profile_pic" class="img-circle img-responsive" >
                    </div>
                </div>
                <div class="col-sm-6 col-md-7 col-lg-8">
                    <!--Main title-->
                    <h2 class="visible-md visible-lg">{{'jum_title' | translate}}</h2>
                    <h3 class="hidden-md hidden-lg">{{'jum_title' | translate}}</h3>

                    <p>{{'jum_description_1' | translate}}</p>
                    <p>
                        <span>{{'jum_description_2' | translate}}</span>
                        <em>{{'jum_desc_help_2' | translate}}</em>
                        <span>{{'jum_description_2_1' | translate}}</span>
                    </p>
                    <p>
                        <span>{{'jum_description_3' | translate}}</span>
                        <a href="http://www.uvicate.com" target="_blank">{{'jum_desc_help_3' | translate}}</a>
                        <span>{{'jum_description_3_1' | translate}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-2">
            <img id="flask" class="img-responsive col-sm-6" src="img/icons/flask.svg">
        </div>
        <div class="page-header col-sm-9 col-md-9 col-lg-10">
            <h1>{{'technical_knowledge' | translate}}</h1>
        </div>
    </div>

    <div classs="row">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="kn-info">
                <h2>
                    <span>{{'kn_title_1' | translate}}</span>
                    <span class="text-muted">{{'kn_sub_1' | translate}}</span>
                </h2>
                <p class="lead">{{'kb_main_1' | translate}}</p>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="img-parallax">
                <div class="img-cover"></div>
                <img class="kn-image" src="img/screens/mysql.jpg">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="knowledge-separator"></div>

    <div classs="row">
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="img-parallax">
                <div class="img-cover"></div>
                <img class="kn-image" src="img/screens/php-sublime.jpg">
            </div>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="kn-info">
                <h2>
                    <span>{{'kn_title_2' | translate}}</span>
                    <span class="text-muted">{{'kn_sub_2' | translate}}</span>
                </h2>
                <p class="lead">{{'kb_main_2' | translate}}</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="knowledge-separator"></div>

    <div classs="row">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="kn-info">
                <h2>
                    <span>{{'kn_title_3' | translate}}</span>
                    <span class="text-muted">{{'kn_sub_3' | translate}}</span>
                </h2>
                <p class="lead">{{'kn_main_3' | translate}}</p>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="img-parallax">
                <div class="img-cover"></div>
                <img class="kn-image" src="img/screens/js-sublime.jpg">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="knowledge-separator"></div>

    <div classs="row">
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="img-parallax">
                <div class="img-cover"></div>
                <a href="http://github.com" target="_blank">
                    <img class="kn-image" src="img/icons/Octocats/Octocat/Octocat_600.jpg">
                </a>
            </div>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="kn-info">
                <h2>
                    <span>{{'kn_title_4' | translate}}</span>
                    <span class="text-muted">{{'kn_sub_4' | translate}}</span>
                </h2>
                <p class="lead">
                    <span data-ltag="kn-main-4"></span>
                    <a href="http://github.com/victorhqc" target="_blank">{{'kn_main_4_1' | translate}}</a>
                    <span>{{'kn_main_4_2' | translate}}</span>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="knowledge-separator"></div>

    <div classs="row">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="kn-info">
                <h2>
                    <span>{{'kn_title_5' | translate}}</span>
                    <span class="text-muted">{{'kn_sub_5' | translate}}</span>
                </h2>
                <p class="lead">{{'kn_main_5' | translate}}</p>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="img-parallax">
                <div class="img-cover"></div>
                <img class="kn-image" src="img/screens/gastos.jpg">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="knowledge-separator"></div>

    <div id="contact-me">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-2">
                <img id="flask" class="img-responsive col-sm-6" src="img/icons/open_envelope.svg">
            </div>
            <div class="page-header col-sm-9 col-md-9 col-lg-10">
                <h1>{{'contact_me' | translate}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <h3>
                    <icon class="fa fa-mobile"></icon>
                    <span> {{'contact_phone' | translate}}</span>
                </h3>
                <a href="">+52 1 614 252 8371</a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <h3>
                    <icon class="fa fa-inbox"></icon>
                    <span> {{'contact_email' | translate}}</span>
                </h3>
                <a href="mailto:victorhqc@gmail.com">victorhqc@gmail.com</a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <h3>
                    <icon class="fa fa-comment"></icon>
                    <span> {{'about_social' | translate}}</span>
                </h3>
                <a href="">@victorhqc</a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <h3>
                    <icon class="fa fa-map-marker"></icon>
                    <span> {{'about_location' | translate}}</span>
                </h3>
                <a href="https://www.google.com/maps/preview?authuser=0#!q=chihhuahua&data=!4m10!1m9!4m8!1m3!1d23025165!2d-95.677068!3d37.0625!3m2!1i1301!2i678!4f13.1" target="_blank">Chihuahua, Chih. México</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-2">
            <img id="flask" class="img-responsive col-sm-6" src="img/icons/arrow_board.svg">
        </div>
        <div class="page-header col-sm-9 col-md-9 col-lg-10">
            <h1>{{'curiosities' | translate}}</h1>
        </div>
    </div>
    <div id="about-features" class="row">
        <div ng-repeat="feature in features">
            <div class="feature-about col-sm-6 col-md-4 col-lg-3" id="feature-{{$index+1}}">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="feature-icon" style="background-image: url(img/icons/{{feature.icon}})">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <h4>{{feature.title | translate}}</h4>
                        <p>{{feature.message | translate}}</p>
                    </div>
                </div>
            </div>
            <div ng-if="($index + 1) % 4 == 0 && $index > 0" class="clearfix visible-lg"></div>
            <div ng-if="($index + 1) % 3 == 0  && $index > 0" class="clearfix visible-md"></div>
            <div ng-if="($index + 1) % 2 == 0  && $index > 0" class="clearfix visible-sm"></div>
        </div>
    </div>
</div>
