<div ng-controller="HomeCtrl">
    <div id="fix-image-container"></div>

    <div class="row feature">
        <div class="fake-img"></div>
        <div class="col-lg-8 col-sm-7">
            <h1>
                <span>{{'title1' | translate}}</span>
                <small>{{'sub1' | translate}}</small>
            </h1>
            <p class="lead">{{'main1' | translate}}</p>
            <div class="row">
                <div class="col-lg-6 col-sm-8">
                    <h3>
                        <a href="mailto:victorhqc@gmail.com">
                            <span class="fa fa-inbox pull-left"></span>
                            &nbsp;victorhqc@gmail.com
                        </a>
                    </h3>
                </div>
                <div class="col-lg-6 col-sm-8">
                    <h3>
                        <a href="#">
                        <abbr id="phone" class="fa fa-mobile" title=""></abbr>
                        + 52 1 614 252 83 71
                        </a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-5 img-container">
            <img class="img-responsive" alt="HTML 5" src="img/icons/HTML5_Logo.png">
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row feature">
        <div class="fake-img"></div>
        <div class="col-lg-8 col-sm-7">
            <h1>
                <span>{{'title3' | translate}}</span>
                <small>{{'sub3' | translate}}</small>
            </h1>
            <p class="lead">{{'main3_1' | translate}}</p>
        </div>
        <div class="col-lg-4 col-sm-5 img-container">
            <img class="img-responsive" alt="Rocket" src="img/icons/rocket.svg">
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row feature">
        <div class="fake-img"></div>
        <div class="col-lg-8 col-sm-7">
            <h1>
                <span>{{'title2' | translate}}</span>
                <small>{{'sub2' | translate}}</small>
            </h1>
            <p class="lead">{{'main2' | translate}}</p>
        </div>
        <div class="col-lg-4 col-sm-5 img-container">
            <img class="img-responsive" alt="Phone" src="img/icons/Iphone.svg">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
